<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<h1>Chord Challenge</h1>
		<a href="/MusiciansCompanion">Home</a>
		<a href="/MusiciansCompanion/ChordChallengeGenerator">Back</a>
		
		<p th:text="'Chord: ' + ${chordChallenge.root} + ' ' + ${chordChallenge.chordType.chordType}">
		<p th:text="'Inversion: ' + ${chordChallenge.inversion}">
		
		<p th:if="${chordChallenge.type} == 'GUITAR'" th:text="'Root String: ' + ${chordChallenge.num}">
		<p th:if="${chordChallenge.type} == 'KEYBOARD'" th:text="'Octave: ' + ${chordChallenge.num}">
		
		<p>Note that not all inversion and root string/octave combinations will be possible with only three adjacent notes. For example, if you are on the root inversion at the top of your range, you 
		may not be able to play all those notes at once. You may choose to arpeggiate them, or play them lower with a root an octave lower and your target root remaining on the target octave/string.</p>
	</body>
</html>