<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" th:href="@{/mainstyle.css}">
		<link rel="stylesheet" th:href="@{/challengeDisplay.css}">
	</head>
	<body>
		<h1 class="title">Chord Challenge</h1>
		
		<div class="button-container">
			<a href="/MusiciansCompanion" class="home-button">Home</a>
			<a href="/MusiciansCompanion/ChordChallengeGenerator" class="back-button">Back</a>
		</div>

		<div class="results">
			<p id="chord" th:text="'Chord: ' + ${chordChallenge.root} + ' ' + ${chordChallenge.chordType.chordType}">
			<p id="inversion" th:text="'Inversion: ' + ${chordChallenge.inversion}">
		
			<p id="root-string" th:if="${chordChallenge.type} == 'GUITAR'" th:text="'Root String: ' + ${chordChallenge.num}">
			<p id="octave-number" th:if="${chordChallenge.type} == 'KEYBOARD'" th:text="'Octave: ' + ${chordChallenge.num}">
		</div>
	</body>
</html>