<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta lang="en">
        <title>My Metronome</title>
    </head>

    <body>
        <h1>Metronome</h1>

        <button id="start-stop">Start/Stop</button>

        <div class="tempo-controls">
            <button class="tempo-change" data-change="-5">-5</button>
            <button class="tempo-change" data-change="-1">-</button>

            <div class="tempo-container">
                <input type="range" id="tempo-slider" value="120" min="30" max="300">
                <p id="tempo-display">120 bpm</p>
                
            </div>
            

            <button class="tempo-change" data-change="1">+</button>
            <button class="tempo-change" data-change="5">+5</button>
        
        </div>


        <script th:src="@{/metronome.js}"></script>
        <script th:src="@{/main.js}"></script>
    </body>

</html>