<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta lang="en">
        <title>My Metronome</title>
        <link rel="stylesheet" th:href="@{/mainstyle.css}">
        <link rel="stylesheet" th:href="@{/metronomeStyles.css}"> 
    </head>

    <body>
        <h1>Metronome</h1>

		<div class="button-container">
			<a href="/MusiciansCompanion" class="home-button">Home</a>
		</div>

        <button id="start-stop" onclick="startStop()"><span>Start</span></button>
        
        <script>
        	function startStop() {
        		var button = document.getElementById("start-stop");
        		
        		if(button.innerText == "Start") {
        			button.innerText = "Stop";
        		} else {
        			button.innerText = "Start";
        		}
        	}
        </script>

        <div class="tempo-controls">
            <button class="tempo-change" data-change="-5">-5</button>
            <button class="tempo-change" data-change="-1">-</button>

            <div class="tempo-container">
                <input type="range" id="tempo-slider" value="120" min="30" max="300">
                <p id="tempo-display">120 bpm</p>
                
            </div>

            <button class="tempo-change" data-change="1">+</button>
            <button class="tempo-change" data-change="5">+5</button>
            
        
        </div>

		<div class="beatsPerBar">
				<label for="number">Beats Per Bar: </label>
				<input type="number" id="beatsPerBar-Input" min="1" max="30">
		
			<div id="emphasis-container"></div>
					
		</div>
			
		
			

        <script th:src="@{/metronome.js}"></script>
        <script th:src="@{/main.js}"></script>
    </body>

</html>